<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<ul class="nav navbar-nav">
			<li><a href="/">Panel</a></li>
			<li><a href="/activities">Activity</a></li>
			<li><a href="/events">Events</a></li>
		</ul>
	  
	</div>
</nav>