<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main style="padding-left: 20%; padding-right: 20%;">
    <div class="jumbotron">
        <h3>Edit Activity</h3>

        <form id="myForm">

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Description</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="_id" value="<%= activity._id %>"
                           style="visibility: hidden;">
                    <input class="form-control" type="text" name="description" value="<%= activity.description %>">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="saveActivity()">Save Activity</button>
            <a type="button" class="btn btn-danger" href="/activities">Cancel</a>
        </form>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
    function saveActivity() {
        $.post('/api/save-activity', $("#myForm").serialize(), function (result) {
            alert(JSON.stringify(result)); //For now i have just added an alert.
            window.location.href = '/activities';
        });
    }
</script>

</body>
</html>
