<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main style="padding-left: 20%; padding-right: 20%;">
    <div class="jumbotron">
        <h3>Assign events</h3>

        <form id="newEvent">
            <div class="form-group row">
                <label for="exampleSelect1">Activity Name</label>
                <select class="form-control" name="activityType" id="activityType">
                    <% activities.forEach(function(activity) { %>
                    <option value="<%= activity._id %>"><%= activity.description %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date Event</label>
                <div class="col-10">
                    <input class="form-control" type="date" name="date" id="date">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-time-input" class="col-2 col-form-label">Start hour</label>
                <div class="col-10">
                    <input class="form-control" name="startHour" type="time" id="startHour">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-time-input" class="col-2 col-form-label">End hour</label>
                <div class="col-10">
                    <input class="form-control" name="endHour" type="time" id="endHour">
                </div>
            </div>
            <a onclick="addEvent()" class="btn btn-primary">Add Event</a>
            <a type="button" href="/" class="btn btn-danger">Cancel</a>
        </form>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>

    function validate(id, msg) {
        if ($('#' + id).val() == '') {
            $('.alert-danger').text(msg);
            $('.alert-danger').show();
            setTimeout(function () {
                $('.alert-danger').hide();
            }, 2000);

            return false;
        }

        return true;
    }

    function addEvent() {
        if (!validate('activityType', 'Activity type is required!')) {
            return;
        }

        if (!validate('date', 'Date is required!')) {
            return;
        }

        if (!validate('startHour', 'Start hour is required!')) {
            return;
        }

        if (!validate('endHour', 'End hour is required!')) {
            return;
        }

        $.ajax({
            url: "/api/add-event",
            type: 'POST',
            data: $("#newEvent").serialize(),
            success: function (result) {
                alert(result);
                window.location.href = '/admin';
            },
            error: function (err) {
                alert(JSON.stringify(err));
            }
        });
    }
</script>

</body>
</html>
