<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main style="padding-left: 20%; padding-right: 20%;">
    <div class="jumbotron">
        <h3>Assign activity</h3>

        <form id="newForm" data-toggle="validator" role="form">

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Description</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="description" id="description">
                </div>
            </div>

            <a onclick="addActivity()" class="btn btn-primary">Add Activity</a>
            <a type="button" class="btn btn-danger" href="/activities">Cancel</a>
        </form>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
    function addActivity() {
        if ($('#description').val() == '') {
            $('.alert-danger').text("Description is required!");
            $('.alert-danger').show();
            setTimeout(function () {
                $('.alert-danger').hide();
            }, 2000);

            return;
        }

        $.ajax({
            url: "/api/add-activity",
            type: 'POST',
            data: $("#newForm").serialize(),
            success: function (result) {
                alert(result);
                window.location.href = '/activities';
            },
            error: function (err) {
                alert(JSON.stringify(err));
            }
        });
    }
</script>

</body>
</html>
